<section class="about-section">
  <div class="container">
    <h2 class="about-section__title section-title">
      Паломнический Туры в Дивеево
    </h2>
    <div class="about-section__text">
      <p>
        Дивеево – это основанное в XVII веке село в Нижегородской области. У
        села богатая история, славится оно своими православными традициями - в
        нем расположены святыни, старинные деревянные церкви и храмы.
        Свято-Троицкий Серафимо-Дивеевский монастырь – один из самых больших
        православных женских монастырей, основанный матушкой Александрой,
        посещали саровские старцы и преподобный Серафим Саровский, по
        пророчеству которого этот монастырь станет единственной женской лаврой
        во всем мире.
      </p>
      <p>
        Организованные туры в Дивеево совершаются регулярно. В ходе таких
        поездок имеется возможность посетить множество православных святынь:
        храмы, иконы, мощи, Святую Канавку, и узнать больше о данном населенном
        пункте и его святых местах.
      </p>
      <p>
        Например, знали ли вы, что основанный во второй половине 18 века
        Дивеевский женский монастырь был закрыт в 1927 году, но вновь ярко
        засиял в православном мире уже в конце 20 века? Или то, что именно здесь
        можно приложиться к иконе «Умиление», пред которой молился сам Серафим
        Саровский? Об этом и многом другом из истории Дивеево вам поможет узнать
        профессиональный гид.
      </p>
      <p>
        Тур в Дивеево – это великолепная возможность соприкоснуться с великой
        русской православной историей, узнать больше и проникнуться святостью
        этих мест.
      </p>
    </div>
  </div>
</section>
