<section class="articles">
  <div class="articles__top">
    <div class="container">
      <h2 class="articles__title section-title">Статьи о Дивеево</h2>
    </div>
  </div>
  <div class="articles__content">
    <div class="container">
      <ul class="articles__list">
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
        <li class="articles__item">
          <article class="articles-card">
            <div class="articles-card__left">
              <picture>
                <source srcset="img/articles/1.webp" type="image/webp" />
                <img src="img/articles/1.jpg" alt="articles" />
              </picture>
            </div>
            <div class="articles-card__right">
              <span class="articles-card__date"> 11.11.2022 </span>
              <h3 class="articles-card__title">
                <a href="#">
                  Дивеево – это основанное в XVII веке село в Нижегородской
                  области
                </a>
              </h3>
              <p class="articles-card__text">
                В суете жизни трудно бывает найти сомолитвенников, редко
                выпадает возможность прочитать соборную молитву, собравшись
                вместе с ...
              </p>

              <a class="articles-card__btn" href="#">Читать всю статью</a>
            </div>
          </article>
        </li>
      </ul>

      <div class="pagination">
        <button
          class="pagination__btn pagination__btn--prev"
          type="button"
        ></button>
        <ul class="pagination__list">
          <li class="pagination__item">
            <a class="pagination__link" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">6</a>
          </li>
        </ul>
        <button
          class="pagination__btn pagination__btn--next"
          type="button"
        ></button>
      </div>
    </div>
  </div>
</section>
