<section class="article">
  <div class="article__top">
    <div class="container">
      <h2 class="article__title section-title">
        Дивеево – это основанное в XVII веке село <br />
        в Нижегородской области
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="article__content">
      <p class="article__text">
        Неспроста этот населенный пункт вызывает интерес у паломников со всего
        мира. В первую очередь потому, что располагается там Серафимов
        Дивеевский во имя Святой Троицы женский монастырь, относящийся к
        Нижегородской епархии.
      </p>
      <picture>
        <source srcset="img/article/1.webp" type="image/webp" />
        <img class="article__img" src="img/article/1.jpg" alt="img" />
      </picture>
    </div>

    <div class="article__items">
      <div class="article-item">
        <div class="article-item__info">
          <h3 class="article-item__title">Монастырь</h3>
          <div class="article-item__text">
            <p>
              Православная история Дивеевского монастыря насчитывает уже века.
              Монастырь был основан во второй половине 18 века матушкой
              Александрой (в миру Агафьей Семеновной Мельгуновой), которая
              приняла монашеский постриг в Киево-Флоровском монастыре.
            </p>
            <p>
              Однажды матушке Александре, после ночного молитвенного бдения,
              явилась Пресвятая Богородица. И велела она монахине обойти великие
              православные места русские, и сказала, что укажет место, где быть
              новой святой обители. В 1760 году шла матушка Александра из Мурома
              в Саровскую пустынь. Но по пути к Сарову, в 12 верстах от него,
              остановилась она отдохнусь в селе Дивеево. И явилась там вновь ей
              Царица Небесная, и сказала, что быть новой святой обители в этом
              месте. Столь тронута была монахиня явившемуся ей чуду, что в
              1773-1774 годах на собственные средства (а являлась она в миру
              помещицей) в Дивеево, рядом с деревянной старинной Стефановской
              церковью заложила она фундамент Казанской церкви, освященной в
              1780 году Пахомием – строителем Саровской пустыни. Все рос и
              расцветал монастырь, и во время жизни матушки Александры, и после
              того, как покинула она этот бренный мир. Достойно продолжала
              благодатную историю монастыря настоятельница Ксения Михайловна
              Кочеулова. Сам Серафим Саровский посещал этот монастырь, и говорил
              он, что настоятельница есть «бич духовный» и «терпуг духовный»,
              высоко оценивая её качества.
            </p>
          </div>
        </div>
        <div class="article-item__img">
          <picture>
            <source srcset="img/article/2.webp" type="image/webp" />
            <img src="img/article/2.jpg" alt="img" />
          </picture>
        </div>
      </div>
      <div class="article-item">
        <div class="article-item__info">
          <h3 class="article-item__title">Святая Канавка</h3>
          <div class="article-item__text">
            <p>
              Православная история Дивеевского монастыря насчитывает уже века.
              Монастырь был основан во второй половине 18 века матушкой
              Александрой (в миру Агафьей Семеновной Мельгуновой), которая
              приняла монашеский постриг в Киево-Флоровском монастыре
            </p>
            <p>
              Однажды матушке Александре, после ночного молитвенного бдения,
              явилась Пресвятая Богородица. И велела она монахине обойти великие
              православные места русские, и сказала, что укажет место, где быть
              новой святой обители. В 1760 году шла матушка Александра из Мурома
              в Саровскую пустынь. Но по пути к Сарову, в 12 верстах от него,
              остановилась она отдохнусь в селе Дивеево. И явилась там вновь ей
              Царица Небесная, и сказала, что быть новой святой обители в этом
              месте. Столь тронута была монахиня явившемуся ей чуду, что в
              1773-1774 годах на собственные средства (а являлась она в миру
              помещицей) в Дивеево, рядом с деревянной старинной Стефановской
              церковью заложила она фундамент Казанской церкви, освященной в
              1780 году Пахомием – строителем Саровской пустыни. Все рос и
              расцветал монастырь, и во время жизни матушки Александры, и после
              того, как покинула она этот бренный мир. Достойно продолжала
              благодатную историю монастыря настоятельница Ксения Михайловна
              Кочеулова. Сам Серафим Саровский посещал этот монастырь, и говорил
              он, что настоятельница есть «бич духовный» и «терпуг духовный»,
              высоко оценивая её качества.
            </p>
          </div>
        </div>
        <div class="article-item__img">
          <picture>
            <source srcset="img/article/3.webp" type="image/webp" />
            <img src="img/article/3.jpg" alt="img" />
          </picture>
        </div>
      </div>
      <div class="article-item">
        <div class="article-item__info">
          <h3 class="article-item__title">Икона «Умиление»</h3>
          <div class="article-item__text">
            <p>
              Тесно связано житие Серафима Саровского с Дивеево. Молился и
              скончался он перед иконой Божьей Матери «Умиление», что
              расположена именно там. И хоть икона и покидала стены обители, но
              в 1991 году вернулась она в родные стены.
            </p>
          </div>
        </div>
        <div class="article-item__img">
          <picture>
            <source srcset="img/article/4.webp" type="image/webp" />
            <img src="img/article/4.jpg" alt="img" />
          </picture>
        </div>
      </div>
      <div class="article-item">
        <div class="article-item__info">
          <h3 class="article-item__title">Мощи</h3>
          <div class="article-item__text">
            <p>
              Также паломничество в Дивеевский монастырь совершают и к святым
              мощам, расположенным в нем. В 1990 году сбылось пророчество о том,
              что батюшка Серафим пребывать будет в Дивееве.
            </p>
            <p>
              Почивают в монастыре преподобные Александра, Марфа и Елена,
              блаженные жены Дивеевские Пелагия, Параскева и Мария и
              преподобноисповедница Матрона (Власова). Также находится там и
              ковчег с мощами святых Глинской пустыни.
            </p>
          </div>
        </div>
        <div class="article-item__img">
          <picture>
            <source srcset="img/article/5.webp" type="image/webp" />
            <img src="img/article/5.jpg" alt="img" />
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="article-touch">
      <h2 class="article-touch__title">Как прикоснуться к святыням?</h2>
      <p class="article-touch__text">
        И каждый паломник может прикоснуться к сим святыням. Совершить
        паломничество легко и удобно: туда организуются согласованные и
        индивидуальные туры, поездки осуществляются в комфортабельных
        туристических автобусах, а великолепный и профессиональный гид расскажет
        об истории места, организует проживание в частных паломнических
        гостиницах, обеспечит питание и участие в богослужениях.
      </p>
    </div>
  </div>
</section>
