<section class="excursions">
  <div class="container">
    <h2 class="excursions__title section-title">Экскурсии в Дивеево</h2>

    <div class="excursions__text">
      <p>
        Экскурсии в Дивеево – отличный способ узнать больше о селе,
        расположенных в нем православных местах и святынях.
      </p>
      <p>
        Каждый тур включает в себя несколько экскурсионных программ, в ходе
        которых можно погрузиться в историю русского православия и прикоснуться
        к святыням. Ведь именно святыни в Дивеево – это то, ради чего сие
        поселение посещают паломники со всего мира.
      </p>
    </div>
  </div>
  <div class="container container--big">
    <div class="excursions__content">
      <div class="excursions__slider swiper">
        <ul class="excursions__slides swiper-wrapper">
          <li class="excursions__slide swiper-slide">
            <div class="excursions-card">
              <a class="excursions-card__link" href="#"></a>
              <div class="excursions-card__top">
                <picture>
                  <source srcset="img/excursions/1.webp" type="image/webp" />
                  <img src="img/excursions/1.jpg" alt="excursions" />
                </picture>
              </div>
              <div class="excursions-card__body">
                <p class="excursions-card__text">
                  <b>Экскурсия по Канавке. Канавка Святой Богородицы</b> –
                  возможно, самая главная святыня монастыря. Здесь сердце
                  наполнится радостью, утолится всякая боль и скорбь. Батюшка
                  Серафим приказал вырыть Канавку, чтобы незабвенна была тропа
                  по которой ежедневно проходит Божия Матерь, опекая свой удел.
                  Пройдем этой тропой и мы, паломники в святое место, Дети
                  Божии. Помолимся, прочитаем молитву «Богородице Дево,
                  радуйся».
                </p>
              </div>
            </div>
          </li>
          <li class="excursions__slide swiper-slide">
            <div class="excursions-card">
              <a class="excursions-card__link" href="#"></a>
              <div class="excursions-card__top">
                <picture>
                  <source srcset="img/excursions/2.webp" type="image/webp" />
                  <img src="img/excursions/2.jpg" alt="excursions" />
                </picture>
              </div>
              <div class="excursions-card__body">
                <p class="excursions-card__text">
                  <b>Экскурсия к святым мощам и Иконе Пресвятой Богородицы.</b>
                  Святые мощи Серафима Саровского, Икона Пресвятой Богородицы
                  «Умиление» в Троицком Соборе, мощи матушки Александры,
                  блаженных преподобных жен Дивеевских – святыни, обязательные к
                  посещению. Пусть порой очередь к ним длинна, для православного
                  человека - это всего лишь еще одна проверка смирения.
                </p>
              </div>
            </div>
          </li>
          <li class="excursions__slide swiper-slide">
            <div class="excursions-card">
              <a class="excursions-card__link" href="#"></a>
              <div class="excursions-card__top">
                <picture>
                  <source srcset="img/excursions/3.webp" type="image/webp" />
                  <img src="img/excursions/3.jpg" alt="excursions" />
                </picture>
              </div>
              <div class="excursions-card__body">
                <p class="excursions-card__text">
                  <b>Экскурсия к Дивеевским Святым Источникам</b> Святые
                  источники: Серафима Соровского, Казанский, матушки Александры.
                  От вод Святых Дивеевских Источников люди обретают очищение,
                  излечиваются от духовных и телесных болезней.
                </p>
              </div>
            </div>
          </li>
          <li class="excursions__slide swiper-slide">
            <div class="excursions-card">
              <a class="excursions-card__link" href="#"></a>
              <div class="excursions-card__top">
                <picture>
                  <source srcset="img/excursions/1.webp" type="image/webp" />
                  <img src="img/excursions/1.jpg" alt="excursions" />
                </picture>
              </div>
              <div class="excursions-card__body">
                <p class="excursions-card__text">
                  <b>Экскурсия по Канавке. Канавка Святой Богородицы</b> –
                  возможно, самая главная святыня монастыря. Здесь сердце
                  наполнится радостью, утолится всякая боль и скорбь. Батюшка
                  Серафим приказал вырыть Канавку, чтобы незабвенна была тропа
                  по которой ежедневно проходит Божия Матерь, опекая свой удел.
                  Пройдем этой тропой и мы, паломники в святое место, Дети
                  Божии. Помолимся, прочитаем молитву «Богородице Дево,
                  радуйся».
                </p>
              </div>
            </div>
          </li>
          <li class="excursions__slide swiper-slide">
            <div class="excursions-card">
              <a class="excursions-card__link" href="#"></a>
              <div class="excursions-card__top">
                <picture>
                  <source srcset="img/excursions/2.webp" type="image/webp" />
                  <img src="img/excursions/2.jpg" alt="excursions" />
                </picture>
              </div>
              <div class="excursions-card__body">
                <p class="excursions-card__text">
                  <b>Экскурсия к святым мощам и Иконе Пресвятой Богородицы.</b>
                  Святые мощи Серафима Саровского, Икона Пресвятой Богородицы
                  «Умиление» в Троицком Соборе, мощи матушки Александры,
                  блаженных преподобных жен Дивеевских – святыни, обязательные к
                  посещению. Пусть порой очередь к ним длинна, для православного
                  человека - это всего лишь еще одна проверка смирения.
                </p>
              </div>
            </div>
          </li>
          <li class="excursions__slide swiper-slide">
            <div class="excursions-card">
              <a class="excursions-card__link" href="#"></a>
              <div class="excursions-card__top">
                <picture>
                  <source srcset="img/excursions/3.webp" type="image/webp" />
                  <img src="img/excursions/3.jpg" alt="excursions" />
                </picture>
              </div>
              <div class="excursions-card__body">
                <p class="excursions-card__text">
                  <b>Экскурсия к Дивеевским Святым Источникам</b> Святые
                  источники: Серафима Соровского, Казанский, матушки Александры.
                  От вод Святых Дивеевских Источников люди обретают очищение,
                  излечиваются от духовных и телесных болезней.
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
