<section class="faq">
  <div class="container">
    <h2 class="faq__title section-title">
      Вопрос-ответ об автобусных турах в Дивеево
    </h2>

    <div class="faq__accordions">
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          <span>Сколько стоит тур Дивеево Муром ?</span>

          <span class="faq-accordion__icon accordion-icon">
            <svg
              width="17"
              height="11"
              viewBox="0 0 17 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 1.56641L8.5 8.06641L15 1.56641"
                stroke="#101010"
                stroke-width="3"
              />
            </svg>
          </span>
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Равным образом дальнейшее развитие различных форм деятельности
            позволяет оценить значение новых предложений. Товарищи! реализация
            намеченных плановых заданий позволяет оценить значение новых
            предложений.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          <span>Сколько дней длится тур Дивеево Муром ?</span>
          <span class="faq-accordion__icon accordion-icon">
            <svg
              width="17"
              height="11"
              viewBox="0 0 17 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 1.56641L8.5 8.06641L15 1.56641"
                stroke="#101010"
                stroke-width="3"
              />
            </svg>
          </span>
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Равным образом дальнейшее развитие различных форм деятельности
            позволяет оценить значение новых предложений. Товарищи! реализация
            намеченных плановых заданий позволяет оценить значение новых
            предложений.
          </div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          <span> Есть ли скидки на тур Дивеево Муром ?</span>
          <span class="faq-accordion__icon accordion-icon">
            <svg
              width="17"
              height="11"
              viewBox="0 0 17 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 1.56641L8.5 8.06641L15 1.56641"
                stroke="#101010"
                stroke-width="3"
              />
            </svg>
          </span>
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>
            Равным образом дальнейшее развитие различных форм деятельности
            позволяет оценить значение новых предложений. Товарищи! реализация
            намеченных плановых заданий позволяет оценить значение новых
            предложений.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
