<section class="photos">
  <div class="container container--big">
    <h2 class="visually-hidden">Фото</h2>

    <div class="photos__content">
      <div class="photos__slider swiper">
        <ul class="photos__slides swiper-wrapper">
          <li class="photos__slide swiper-slide">
            <ul class="photos__list">
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/1.jpg"
              >
                <picture>
                  <source srcset="img/photos/1.webp" type="image/webp" />
                  <img src="img/photos/1.jpg" alt="img" />
                </picture>

                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/2.jpg"
              >
                <picture>
                  <source srcset="img/photos/2.webp" type="image/webp" />
                  <img src="img/photos/2.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/3.jpg"
              >
                <picture>
                  <source srcset="img/photos/3.webp" type="image/webp" />
                  <img src="img/photos/3.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/2.jpg"
              >
                <picture>
                  <source srcset="img/photos/2.webp" type="image/webp" />
                  <img src="img/photos/2.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/4.jpg"
              >
                <picture>
                  <source srcset="img/photos/4.webp" type="image/webp" />
                  <img src="img/photos/4.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/5.jpg"
              >
                <picture>
                  <source srcset="img/photos/5.webp" type="image/webp" />
                  <img src="img/photos/5.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/6.jpg"
              >
                <picture>
                  <source srcset="img/photos/6.webp" type="image/webp" />
                  <img src="img/photos/6.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
            </ul>
          </li>
          <li class="photos__slide swiper-slide">
            <ul class="photos__list">
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/1.jpg"
              >
                <picture>
                  <source srcset="img/photos/1.webp" type="image/webp" />
                  <img src="img/photos/1.jpg" alt="img" />
                </picture>

                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/2.jpg"
              >
                <picture>
                  <source srcset="img/photos/2.webp" type="image/webp" />
                  <img src="img/photos/2.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/3.jpg"
              >
                <picture>
                  <source srcset="img/photos/3.webp" type="image/webp" />
                  <img src="img/photos/3.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/2.jpg"
              >
                <picture>
                  <source srcset="img/photos/2.webp" type="image/webp" />
                  <img src="img/photos/2.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/4.jpg"
              >
                <picture>
                  <source srcset="img/photos/4.webp" type="image/webp" />
                  <img src="img/photos/4.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/5.jpg"
              >
                <picture>
                  <source srcset="img/photos/5.webp" type="image/webp" />
                  <img src="img/photos/5.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/6.jpg"
              >
                <picture>
                  <source srcset="img/photos/6.webp" type="image/webp" />
                  <img src="img/photos/6.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
            </ul>
          </li>
          <li class="photos__slide swiper-slide">
            <ul class="photos__list">
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/1.jpg"
              >
                <picture>
                  <source srcset="img/photos/1.webp" type="image/webp" />
                  <img src="img/photos/1.jpg" alt="img" />
                </picture>

                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/2.jpg"
              >
                <picture>
                  <source srcset="img/photos/2.webp" type="image/webp" />
                  <img src="img/photos/2.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/3.jpg"
              >
                <picture>
                  <source srcset="img/photos/3.webp" type="image/webp" />
                  <img src="img/photos/3.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/2.jpg"
              >
                <picture>
                  <source srcset="img/photos/2.webp" type="image/webp" />
                  <img src="img/photos/2.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/4.jpg"
              >
                <picture>
                  <source srcset="img/photos/4.webp" type="image/webp" />
                  <img src="img/photos/4.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/5.jpg"
              >
                <picture>
                  <source srcset="img/photos/5.webp" type="image/webp" />
                  <img src="img/photos/5.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
              <li
                class="photos__item"
                data-fancybox
                data-src="img/photos/6.jpg"
              >
                <picture>
                  <source srcset="img/photos/6.webp" type="image/webp" />
                  <img src="img/photos/6.jpg" alt="img" />
                </picture>
                <button class="photos__scale" type="button">
                  <svg
                    width="59"
                    height="60"
                    viewBox="0 0 59 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M27.1559 14.9185V26.8779M27.1559 26.8779V38.8374M27.1559 26.8779H15.2669M27.1559 26.8779H39.045M44.1294 45.6144C49.2851 40.8762 52.5192 34.0577 52.5192 26.4793C52.5192 12.1684 40.9862 0.567139 26.7596 0.567139C12.533 0.567139 1 12.1684 1 26.4793C1 40.7902 12.533 52.3915 26.7596 52.3915C33.4525 52.3915 39.5492 49.8239 44.1294 45.6144ZM44.1294 45.6144L58 59.5671"
                      stroke="white"
                    />
                  </svg>
                </button>
              </li>
            </ul>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>

      <div class="photos__bottom">
        <a class="photos__btn btn" href="#">Посмотреть все фото</a>
      </div>
    </div>
  </div>
</section>
