<section class="pilgrims">
  <div class="container">
    <h2 class="pilgrims__title section-title">
      Чудеса исцеления паломников в Дивеево
    </h2>
  </div>

  <div class="container container--big">
    <div class="pilgrims__content">
      <div class="pilgrims__slider swiper">
        <ul class="pilgrims__slides swiper-wrapper">
          <li class="pilgrims__slide swiper-slide">
            <div class="pilgrims-card">
              <div class="pilgrims-card__left">
                <picture>
                  <source srcset="img/pilgrims/1.webp" type="image/webp" />
                  <img src="img/pilgrims/1.jpg" alt="pilgrims" />
                </picture>
              </div>
              <div class="pilgrims-card__right">
                <div class="pilgrims-card__details">
                  <span class="pilgrims-card__date">11.11.2022</span>
                  <span class="pilgrims-card__name"><b>Нина Наумова</b></span>
                  <span class="pilgrims-card__city">город Москва</span>
                  <span class="pilgrims-card__prof">
                    <b>Исцеление от поездки</b>
                  </span>
                </div>
                <div class="pilgrims-card__text">
                  <p>
                    Я долго не могла забеременеть. Ничего не помогало: ни
                    обследования, ни лекарства. Мы с мужем молодые, здоровые. Я
                    уже потеряла веру в медицину и надеялась лишь на чудо ...
                  </p>

                  <a class="pilgrims-card__btn" href="#">
                    <span>Читать полностью</span>

                    <svg
                      width="6"
                      height="8"
                      viewBox="0 0 6 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3 0.0664062L3 3.56641L3 7.06641M3 7.06641L5 5.06641M3 7.06641L1 5.06641"
                        stroke="#454545"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="pilgrims__slide swiper-slide">
            <div class="pilgrims-card">
              <div class="pilgrims-card__left">
                <picture>
                  <source srcset="img/pilgrims/2.webp" type="image/webp" />
                  <img src="img/pilgrims/2.jpg" alt="pilgrims" />
                </picture>
              </div>
              <div class="pilgrims-card__right">
                <div class="pilgrims-card__details">
                  <span class="pilgrims-card__date">11.11.2022</span>
                  <span class="pilgrims-card__name"
                    ><b>Анастасия Еремина</b></span
                  >
                  <span class="pilgrims-card__city">город Москва</span>
                  <span class="pilgrims-card__prof">
                    <b> Исцеление от мощей </b>
                  </span>
                </div>
                <div class="pilgrims-card__text">
                  <p>
                    Мой ребенок не был слепым от рождения, но примерно с 5 лет
                    стал слепнуть. С ужасом вспоминаю тот период жизни. Один
                    глаз ослеп, другой практически не видел...
                  </p>

                  <a class="pilgrims-card__btn" href="#">
                    <span>Читать полностью</span>

                    <svg
                      width="6"
                      height="8"
                      viewBox="0 0 6 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3 0.0664062L3 3.56641L3 7.06641M3 7.06641L5 5.06641M3 7.06641L1 5.06641"
                        stroke="#454545"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="pilgrims__slide swiper-slide">
            <div class="pilgrims-card">
              <div class="pilgrims-card__left">
                <picture>
                  <source srcset="img/pilgrims/1.webp" type="image/webp" />
                  <img src="img/pilgrims/1.jpg" alt="pilgrims" />
                </picture>
              </div>
              <div class="pilgrims-card__right">
                <div class="pilgrims-card__details">
                  <span class="pilgrims-card__date">11.11.2022</span>
                  <span class="pilgrims-card__name"><b>Нина Наумова</b></span>
                  <span class="pilgrims-card__city">город Москва</span>
                  <span class="pilgrims-card__prof">
                    <b>Исцеление от поездки</b>
                  </span>
                </div>
                <div class="pilgrims-card__text">
                  <p>
                    Я долго не могла забеременеть. Ничего не помогало: ни
                    обследования, ни лекарства. Мы с мужем молодые, здоровые. Я
                    уже потеряла веру в медицину и надеялась лишь на чудо ...
                  </p>

                  <a class="pilgrims-card__btn" href="#">
                    <span>Читать полностью</span>

                    <svg
                      width="6"
                      height="8"
                      viewBox="0 0 6 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3 0.0664062L3 3.56641L3 7.06641M3 7.06641L5 5.06641M3 7.06641L1 5.06641"
                        stroke="#454545"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="pilgrims__slide swiper-slide">
            <div class="pilgrims-card">
              <div class="pilgrims-card__left">
                <picture>
                  <source srcset="img/pilgrims/2.webp" type="image/webp" />
                  <img src="img/pilgrims/2.jpg" alt="pilgrims" />
                </picture>
              </div>
              <div class="pilgrims-card__right">
                <div class="pilgrims-card__details">
                  <span class="pilgrims-card__date">11.11.2022</span>
                  <span class="pilgrims-card__name"
                    ><b>Анастасия Еремина</b></span
                  >
                  <span class="pilgrims-card__city">город Москва</span>
                  <span class="pilgrims-card__prof">
                    <b> Исцеление от мощей </b>
                  </span>
                </div>
                <div class="pilgrims-card__text">
                  <p>
                    Мой ребенок не был слепым от рождения, но примерно с 5 лет
                    стал слепнуть. С ужасом вспоминаю тот период жизни. Один
                    глаз ослеп, другой практически не видел...
                  </p>

                  <a class="pilgrims-card__btn" href="#">
                    <span>Читать полностью</span>

                    <svg
                      width="6"
                      height="8"
                      viewBox="0 0 6 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3 0.0664062L3 3.56641L3 7.06641M3 7.06641L5 5.06641M3 7.06641L1 5.06641"
                        stroke="#454545"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
