<section
  class="prayer-agreement"
  style="background-image: url('img/prayer-agreement-bg.jpg')"
>
  <div class="container">
    <div class="prayer-agreement__wrapper">
      <h2 class="prayer-agreement__title section-title">
        молитва по соглашению
      </h2>
      <div class="prayer-agreement__text">
        <p>
          Ваша молитва, даже самоя простая, много значит для Бога. Мы знаем, что
          горящая свеча символизирует нашу молитву и жертву которую мы
          преподносим Господоу Богу. Даже, когда мы молчим, пламя свечи горит и
          наши молитвы возносятся к Небесам.
        </p>
        <p>Зажгите вашу молитвенную свечу!</p>
      </div>

      <button class="prayer-agreement__btn btn" type="button">
        Присоединиться
      </button>
    </div>
  </div>
</section>
