<section class="prayer">
  <div class="container">
    <h1 class="prayer__title section-title">Молитва по соглашению</h1>

    <p class="prayer__qoute">
      Святое благовествование от Матфея 18:19 гласит:
      <q>
        …если двое из вас согласятся на земле просить о всяком деле, то, чего бы
        ни попросили, будет им от Отца Моего Небесного, ибо, где двое или трое
        собраны во имя Мое, там Я посреди них
      </q>
    </p>

    <div class="prayer-box">
      <h2 class="prayer-box__title">Как читать соборную молитву</h2>

      <div class="prayer-box__text">
        <p>
          Соборная молитва по соглашению — это невероятный дар, которым каждый
          православный владеет по практически не выразимой Любви Господа к
          каждому человеку. Договорившись вдвоем, втроем или большим количеством
          человек, православные могут в одно и то же время вместе произносить
          одну и ту же молитву, обращаться к Господу с одной просьбой, даже если
          разделены сотнями и тысячами километров.
        </p>
        <p>
          Соборную молитву по соглашению во все времена использовали
          православные люди, когда требовалась особенная молитвенная помощь:
          один человек или много людей попали в тяжкое положение, болеют,
          скорбят и переживают другие жизненные трудности. Кроме того, акафист
          молитвы по соглашению помогает тесному духовному единству верующих
          людей даже при редких встречах.
        </p>
      </div>
    </div>

    <div class="prayer__cols">
      <div class="prayer-box">
        <picture>
          <source srcset="img/prayer-icons/1.webp" type="image/webp" />
          <img
            class="prayer-box__icon"
            src="img/prayer-icons/1.png"
            alt="icon"
          />
        </picture>
        <h2 class="prayer-box__title prayer-box__title--left">
          Как читать молитву по соглашению
        </h2>
        <div class="prayer-box__text">
          <p>
            Любая молитва, в том числе соборная, как правило состоит из
            благодарения, прошения и славословия. Необходимо поблагодарить Бога
            за все его дары, затем попросить Его о своих нуждах, затем
            восславить Его доброту.
          </p>
          <p>
            Важно задуматься о главной жизненной трудности, сосредоточиться
            только на ней. Молиться возможно не об абстрактном благе, а с
            конкретной просьбой.
          </p>

          <p>
            Для прочтения могут быть выбраны кафизмы из Псалтири, Евангелия или
            каноны. Затем произносится сама молитва по соглашению:
          </p>
          <p>
            <b>
              «С глубокой верой в непреложность слов Твоих и с надеждой на
              безмерное Твое к нам милосердие смиренно просим Тебя услышать
              рабов Твоих (имена) согласившихся совместно просить Тебя: Господи,
              да будет Твоя Святая воля. Вразуми нас, укрепи нас и помоги нам во
              всем на пользу людям и во славу Твою, Господи. Cподоби нас,
              Господи Боже Спасителю наш, идти за Тобою, помогая и ближним нашим
              идти по пути спасения, совершая дела веры, чтобы с Твоей помощью и
              по Твоей милости наши усилия служили увеличению добра и уменьшению
              зла в делах, словах и мыслях. Аминь».
            </b>
          </p>
        </div>
      </div>
      <div class="prayer-box">
        <picture>
          <source srcset="img/prayer-icons/2.webp" type="image/webp" />
          <img
            class="prayer-box__icon"
            src="img/prayer-icons/2.png"
            alt="icon"
          />
        </picture>
        <h2 class="prayer-box__title prayer-box__title--left">
          Где найти единомышленников
        </h2>
        <div class="prayer-box__text">
          <p>
            В суете жизни трудно бывает найти сомолитвенников, редко выпадает
            возможность прочитать соборную молитву, собравшись вместе с братьями
            и сестрами. На нашем сайте соборной молитвы вы можете найти
            единомышленников, которые по всему миру вместе с вами будут читать
            одну и ту же молитву, объединившись для общей молитвы в виртуальном
            пространстве.
          </p>
        </div>
        <picture>
          <source srcset="img/prayer-img.webp" type="image/webp" />
          <img class="prayer-box__preview" src="img/prayer-img.jpg" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
