<section class="prayer-schedule">
  <div class="container">
    <h2 class="prayer-schedule__title section-title">Расписание</h2>

    <p class="prayer-schedule__text">
      Присоединяйтесь к нашему соборному чтению молив. Здесь вы найдете
      расписание акафистов. Выбирайте день и час и узнайте, какой акафист
      молитвы по соглашению будет прочитан.
    </p>

    <div class="prayer-case">
      <div class="prayer-case__inner">
        <div class="prayer-case__img">
          <picture>
            <source srcset="img/prayers/4.webp" type="image/webp" />
            <img src="img/prayers/4.jpg" alt="img" />
          </picture>
        </div>
        <!-- <div class="prayer-case__info"></div> -->
        <div class="prayer-case__heading">
          <h3 class="prayer-case__title">
            АКАФИСТ ПРЕПОДОБНОМУ СЕРАФИМУ САРОВСКОМУ
          </h3>
          <p class="prayer-case__text">
            чтение акафиста в Свято-Троицком Серафимо-Дивеевском монастыре» (по
            Москве)
          </p>
        </div>

        <div class="prayer-case__date">
          <span> Понедельник</span>

          <div class="prayer-case__time">
            <span>07:00 </span>
            <span>13:00</span>
            <span>14:00</span>
          </div>
        </div>
        <!-- <div class="prayer-case__details"> -->
        <ul class="prayer-case__list">
          <li class="prayer-case__item">О здравии</li>
          <li class="prayer-case__item">О заступничестве за детей</li>
          <li class="prayer-case__item">О обретении семейного счастья</li>
        </ul>
        <div class="prayer-case__btns">
          <button class="prayer-case__btn" type="button">
            <img src="img/icons/text-icon.svg" alt="icon" />
            Текст
          </button>
          <button class="prayer-case__btn" type="button">
            <img src="img/icons/video-icon.svg" alt="icon" />
            Видео
          </button>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <ul class="prayer-schedule__list">
      <li class="prayer-schedule__item">
        <article class="prayer-card">
          <div class="prayer-card__top">
            <picture>
              <source srcset="img/prayers/1.webp" type="image/webp" />
              <img src="img/prayers/1.jpg" alt="prayer" />
            </picture>
          </div>
          <div class="prayer-card__body">
            <div class="prayer-card__heading">
              <h3 class="prayer-card__title">
                АКАФИСТ ПРЕПОДОБНОЙ АЛЕКСАНДРЕ ДИВЕЕВСКОЙ
              </h3>
              <p class="prayer-card__text">чтение акафиста (по Москве)</p>
            </div>

            <ul class="prayer-card__list">
              <li class="prayer-card__item">Об унятии душевных страданий</li>
              <li class="prayer-card__item">
                О пережитии трудного периода в жизни
              </li>
              <li class="prayer-card__item">
                Об избавлении от серьезных недугов
              </li>
            </ul>

            <div class="prayer-card__date">
              <span> Понедельник</span>

              <span>21:00</span>
            </div>

            <div class="prayer-card__btns">
              <button class="prayer-card__btn" type="button">
                <img src="img/icons/text-icon.svg" alt="icon" />
                Текст
              </button>
              <button class="prayer-card__btn" type="button">
                <img src="img/icons/video-icon.svg" alt="icon" />
                Видео
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="prayer-schedule__item">
        <article class="prayer-card">
          <div class="prayer-card__top">
            <picture>
              <source srcset="img/prayers/2.webp" type="image/webp" />
              <img src="img/prayers/2.jpg" alt="prayer" />
            </picture>
          </div>
          <div class="prayer-card__body">
            <div class="prayer-card__heading">
              <h3 class="prayer-card__title">
                СЛУЖБА НОВОМУЧЕНИЦАМ ЕВДОКИИ, ДАРИИ, ДАРИИ И МАРИИ ПУЗИНСКИМ
              </h3>
              <p class="prayer-card__text">чтение акафиста (по Москве)</p>
            </div>

            <ul class="prayer-card__list">
              <li class="prayer-card__item">Об унятии душевных страданий</li>
              <li class="prayer-card__item">
                О пережитии трудного периода в жизни
              </li>
              <li class="prayer-card__item">
                Об избавлении от серьезных недугов
              </li>
            </ul>

            <div class="prayer-card__date">
              <span> Понедельник</span>

              <span>21:00</span>
            </div>

            <div class="prayer-card__btns">
              <button class="prayer-card__btn" type="button">
                <img src="img/icons/text-icon.svg" alt="icon" />
                Текст
              </button>
              <button class="prayer-card__btn" type="button">
                <img src="img/icons/video-icon.svg" alt="icon" />
                Видео
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="prayer-schedule__item">
        <article class="prayer-card">
          <div class="prayer-card__top">
            <picture>
              <source srcset="img/prayers/3.webp" type="image/webp" />
              <img src="img/prayers/3.jpg" alt="prayer" />
            </picture>
          </div>
          <div class="prayer-card__body">
            <div class="prayer-card__heading">
              <h3 class="prayer-card__title">Акафист Петру и Февронии</h3>
              <p class="prayer-card__text">чтение акафиста (по Москве)</p>
            </div>

            <ul class="prayer-card__list">
              <li class="prayer-card__item">Об унятии душевных страданий</li>
              <li class="prayer-card__item">
                О пережитии трудного периода в жизни
              </li>
              <li class="prayer-card__item">
                Об избавлении от серьезных недугов
              </li>
            </ul>

            <div class="prayer-card__date">
              <span> Понедельник</span>

              <span>21:00</span>
            </div>

            <div class="prayer-card__btns">
              <button class="prayer-card__btn" type="button">
                <img src="img/icons/text-icon.svg" alt="icon" />
                Текст
              </button>
              <button class="prayer-card__btn" type="button">
                <img src="img/icons/video-icon.svg" alt="icon" />
                Видео
              </button>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
