<section class="request">
  <div class="container">
    <div class="request__wrapper">
      <div class="request__top">
        <h2 class="request__title section-title">Обратная связь</h2>
        <p class="request__text">
          Заполните форму ниже, и наш менеджер свяжется с вами в течении 10 мин
        </p>
      </div>
      <form class="request__form form-submit">
        <div class="form-submit__inner">
          <div class="form-submit__group">
            <label class="form-submit__label"> ФИО </label>
            <input class="form-submit__input" type="text" placeholder="ФИО" />
          </div>
          <div class="form-submit__group">
            <label class="form-submit__label"> Телефон </label>
            <input
              class="form-submit__input"
              type="tel"
              placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _"
            />
          </div>
          <div class="form-submit__group">
            <label class="form-submit__label"> E-mail </label>
            <input
              class="form-submit__input"
              type="email"
              placeholder="Адрес вашей электронной почты"
            />
          </div>
        </div>
        <button class="form-submit__btn btn" type="button">Отправить</button>
        <div class="form-submit__bottom">
          Нажимая кнопку “Отправить” вы соглашаетесь <br> с
          <a href="#">полиитикой конфиденциальности</a>
        </div>
      </form>
    </div>
  </div>
</section>
