<section class="reviews">
  <div class="container container--big">
    <h2 class="reviews__title section-title">
      Отзывы о паломнических турах в Дивеево
    </h2>

    <div class="reviews__content">
      <div class="reviews__slider swiper">
        <ul class="reviews__slides swiper-wrapper">
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__top">
                <div class="reviews-card__img">
                  <picture>
                    <source srcset="img/reviews/1.webp" type="image/webp" />
                    <img src="img/reviews/1.jpg" alt="img" />
                  </picture>
                </div>
                <div class="reviews-card__info">
                  <span class="reviews-card__date">11.11.2022</span>
                  <span class="reviews-card__name"><b>Николай Наумов</b></span>
                  <span class="reviews-card__city">город Москва</span>
                  <span class="reviews-card__prof">
                    Паломник тура Дивеево - Муром
                  </span>
                </div>
              </div>
              <div class="reviews-card__body">
                <div class="reviews-card__icon">
                  <svg
                    width="33"
                    height="29"
                    viewBox="0 0 33 29"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.1 15.4664C10.4333 15.9331 11.4667 16.6997 12.2 17.7664C12.9333 18.8331 13.3 20.1331 13.3 21.6664C13.3 23.6664 12.6667 25.2997 11.4 26.5664C10.1333 27.8331 8.56667 28.4664 6.7 28.4664C4.76667 28.4664 3.16667 27.8331 1.9 26.5664C0.633333 25.2331 0 23.5997 0 21.6664C0 20.7331 0.0999999 19.7997 0.3 18.8664C0.566667 17.8664 1.06667 16.4331 1.8 14.5664L6.5 0.566406H12.8L9.1 15.4664ZM28 15.4664C29.3333 15.9331 30.3667 16.6997 31.1 17.7664C31.8333 18.8331 32.2 20.1331 32.2 21.6664C32.2 23.6664 31.5667 25.2997 30.3 26.5664C29.0333 27.8331 27.4667 28.4664 25.6 28.4664C23.6667 28.4664 22.0667 27.8331 20.8 26.5664C19.5333 25.2331 18.9 23.5997 18.9 21.6664C18.9 20.7331 19 19.7997 19.2 18.8664C19.4667 17.8664 19.9667 16.4331 20.7 14.5664L25.4 0.566406H31.7L28 15.4664Z"
                      fill="#F9CD2D"
                    />
                  </svg>
                </div>
                <p>
                  Товарищи! реализация намеченных плановых заданий способствует
                  подготовки и реализации позиций, занимаемых участниками в
                  отношении поставленных задач. <br />
                  Повседневная практика показывает, что рамки и место обучения
                  кадров играет важную роль в формировании модели развития.
                </p>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__top">
                <div class="reviews-card__img">
                  <picture>
                    <source srcset="img/reviews/2.webp" type="image/webp" />
                    <img src="img/reviews/2.jpg" alt="img" />
                  </picture>
                </div>
                <div class="reviews-card__info">
                  <span class="reviews-card__date">11.11.2022</span>
                  <span class="reviews-card__name"
                    ><b>Александра Пунец</b></span
                  >
                  <span class="reviews-card__city">город Москва</span>
                  <span class="reviews-card__prof">
                    Паломник тура Дивеево - Муром
                  </span>
                </div>
              </div>
              <div class="reviews-card__body">
                <div class="reviews-card__icon">
                  <svg
                    width="33"
                    height="29"
                    viewBox="0 0 33 29"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.1 15.4664C10.4333 15.9331 11.4667 16.6997 12.2 17.7664C12.9333 18.8331 13.3 20.1331 13.3 21.6664C13.3 23.6664 12.6667 25.2997 11.4 26.5664C10.1333 27.8331 8.56667 28.4664 6.7 28.4664C4.76667 28.4664 3.16667 27.8331 1.9 26.5664C0.633333 25.2331 0 23.5997 0 21.6664C0 20.7331 0.0999999 19.7997 0.3 18.8664C0.566667 17.8664 1.06667 16.4331 1.8 14.5664L6.5 0.566406H12.8L9.1 15.4664ZM28 15.4664C29.3333 15.9331 30.3667 16.6997 31.1 17.7664C31.8333 18.8331 32.2 20.1331 32.2 21.6664C32.2 23.6664 31.5667 25.2997 30.3 26.5664C29.0333 27.8331 27.4667 28.4664 25.6 28.4664C23.6667 28.4664 22.0667 27.8331 20.8 26.5664C19.5333 25.2331 18.9 23.5997 18.9 21.6664C18.9 20.7331 19 19.7997 19.2 18.8664C19.4667 17.8664 19.9667 16.4331 20.7 14.5664L25.4 0.566406H31.7L28 15.4664Z"
                      fill="#F9CD2D"
                    />
                  </svg>
                </div>
                <p>Здравствуйте!))</p>
                <p>
                  Благодарю Вас от всего сердца, что Вы есть 🙏🏻 Такой Вы несёте
                  свет и доброту Благодарю Господа за встречу с Вами🙏🏻❣️ Помощи
                  Божией во всех делах 🙏🏻Ангела Хранителя
                </p>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__top">
                <div class="reviews-card__img">
                  <picture>
                    <source srcset="img/reviews/1.webp" type="image/webp" />
                    <img src="img/reviews/1.jpg" alt="img" />
                  </picture>
                </div>
                <div class="reviews-card__info">
                  <span class="reviews-card__date">11.11.2022</span>
                  <span class="reviews-card__name"><b>Николай Наумов</b></span>
                  <span class="reviews-card__city">город Москва</span>
                  <span class="reviews-card__prof">
                    Паломник тура Дивеево - Муром
                  </span>
                </div>
              </div>
              <div class="reviews-card__body">
                <div class="reviews-card__icon">
                  <svg
                    width="33"
                    height="29"
                    viewBox="0 0 33 29"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.1 15.4664C10.4333 15.9331 11.4667 16.6997 12.2 17.7664C12.9333 18.8331 13.3 20.1331 13.3 21.6664C13.3 23.6664 12.6667 25.2997 11.4 26.5664C10.1333 27.8331 8.56667 28.4664 6.7 28.4664C4.76667 28.4664 3.16667 27.8331 1.9 26.5664C0.633333 25.2331 0 23.5997 0 21.6664C0 20.7331 0.0999999 19.7997 0.3 18.8664C0.566667 17.8664 1.06667 16.4331 1.8 14.5664L6.5 0.566406H12.8L9.1 15.4664ZM28 15.4664C29.3333 15.9331 30.3667 16.6997 31.1 17.7664C31.8333 18.8331 32.2 20.1331 32.2 21.6664C32.2 23.6664 31.5667 25.2997 30.3 26.5664C29.0333 27.8331 27.4667 28.4664 25.6 28.4664C23.6667 28.4664 22.0667 27.8331 20.8 26.5664C19.5333 25.2331 18.9 23.5997 18.9 21.6664C18.9 20.7331 19 19.7997 19.2 18.8664C19.4667 17.8664 19.9667 16.4331 20.7 14.5664L25.4 0.566406H31.7L28 15.4664Z"
                      fill="#F9CD2D"
                    />
                  </svg>
                </div>
                <p>
                  Товарищи! реализация намеченных плановых заданий способствует
                  подготовки и реализации позиций, занимаемых участниками в
                  отношении поставленных задач. <br />
                  Повседневная практика показывает, что рамки и место обучения
                  кадров играет важную роль в формировании модели развития.
                </p>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__top">
                <div class="reviews-card__img">
                  <picture>
                    <source srcset="img/reviews/2.webp" type="image/webp" />
                    <img src="img/reviews/2.jpg" alt="img" />
                  </picture>
                </div>
                <div class="reviews-card__info">
                  <span class="reviews-card__date">11.11.2022</span>
                  <span class="reviews-card__name"
                    ><b>Александра Пунец</b></span
                  >
                  <span class="reviews-card__city">город Москва</span>
                  <span class="reviews-card__prof">
                    Паломник тура Дивеево - Муром
                  </span>
                </div>
              </div>
              <div class="reviews-card__body">
                <div class="reviews-card__icon">
                  <svg
                    width="33"
                    height="29"
                    viewBox="0 0 33 29"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.1 15.4664C10.4333 15.9331 11.4667 16.6997 12.2 17.7664C12.9333 18.8331 13.3 20.1331 13.3 21.6664C13.3 23.6664 12.6667 25.2997 11.4 26.5664C10.1333 27.8331 8.56667 28.4664 6.7 28.4664C4.76667 28.4664 3.16667 27.8331 1.9 26.5664C0.633333 25.2331 0 23.5997 0 21.6664C0 20.7331 0.0999999 19.7997 0.3 18.8664C0.566667 17.8664 1.06667 16.4331 1.8 14.5664L6.5 0.566406H12.8L9.1 15.4664ZM28 15.4664C29.3333 15.9331 30.3667 16.6997 31.1 17.7664C31.8333 18.8331 32.2 20.1331 32.2 21.6664C32.2 23.6664 31.5667 25.2997 30.3 26.5664C29.0333 27.8331 27.4667 28.4664 25.6 28.4664C23.6667 28.4664 22.0667 27.8331 20.8 26.5664C19.5333 25.2331 18.9 23.5997 18.9 21.6664C18.9 20.7331 19 19.7997 19.2 18.8664C19.4667 17.8664 19.9667 16.4331 20.7 14.5664L25.4 0.566406H31.7L28 15.4664Z"
                      fill="#F9CD2D"
                    />
                  </svg>
                </div>
                <p>Здравствуйте!))</p>
                <p>
                  Благодарю Вас от всего сердца, что Вы есть 🙏🏻 Такой Вы несёте
                  свет и доброту Благодарю Господа за встречу с Вами🙏🏻❣️ Помощи
                  Божией во всех делах 🙏🏻Ангела Хранителя
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>

    <!-- <div class="reviews__bottom">
      <a class="reviews__btn btn" href="#">Все отзывы</a>
    </div> -->
  </div>
</section>
