<section class="schedule">
  <div class="container">
    <h2 class="schedule__title section-title">
      Расписание поездок в Дивеево автобусом
    </h2>
    <p class="schedule__text">
      Экскурсии в Дивеевском монастыре проводятся весь год. Вы можете выбрать
      тур в Дивеево на 2 дня, приехать один или несколько дней. Рекомендуем
      заказать поездку в Дивеево на Новый год или Рождество, чтобы посетить
      бесценную православную святыню в этот светлый праздник и принять участие в
      рождественских богослужениях на возлюбленном месте Пресвятой Богородицы.
    </p>

    <div class="schedule__table">
      <div class="schedule__inner">
        <div class="schedule__row">
          <div class="schedule__item">НАИМЕНОВАНИЕ ПОЕЗДКИ</div>
          <div class="schedule__item">СРОК ПОЕЗДКИ</div>
          <div class="schedule__item">количество мест</div>
          <div class="schedule__item">СТОИМОСТЬ ПОЕЗДКИ</div>
        </div>
        <div class="schedule__row">
          <div class="schedule__item">Паломничество в Дивеево</div>
          <div class="schedule__item">с 14 по 16 октября</div>
          <div class="schedule__item">2</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row">
          <div class="schedule__item">Туры в Дивеево</div>
          <div class="schedule__item">с 21 по 23 октября</div>
          <div class="schedule__item">14</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row">
          <div class="schedule__item">Экскурсии в Дивеево</div>
          <div class="schedule__item">с 28 по 30 ктября</div>
          <div class="schedule__item">4</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row">
          <div class="schedule__item">
            Паломнический тур в Дивеево из Москвы на автобусе
          </div>
          <div class="schedule__item">с 21 по 23 октября</div>
          <div class="schedule__item">20</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row">
          <div class="schedule__item">Чудеса исцеления</div>
          <div class="schedule__item">с 11 по 13 ноября</div>
          <div class="schedule__item">2</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row">
          <div class="schedule__item">Дивеево 4 удел Богородицы</div>
          <div class="schedule__item">с 28 по 30 октября</div>
          <div class="schedule__item">10</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row">
          <div class="schedule__item">Тур в Дивеево на 2 дня</div>
          <div class="schedule__item">с 21 по 23 октября</div>
          <div class="schedule__item">8</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row">
          <div class="schedule__item">
            Поездка в Дивеево на Новый год, Рождество
          </div>
          <div class="schedule__item">с 11 по 13 ноября</div>
          <div class="schedule__item">1</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row hidden">
          <div class="schedule__item">Паломничество в Дивеево</div>
          <div class="schedule__item">с 14 по 16 октября</div>
          <div class="schedule__item">2</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row hidden">
          <div class="schedule__item">Туры в Дивеево</div>
          <div class="schedule__item">с 21 по 23 октября</div>
          <div class="schedule__item">14</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row hidden">
          <div class="schedule__item">Экскурсии в Дивеево</div>
          <div class="schedule__item">с 28 по 30 ктября</div>
          <div class="schedule__item">4</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row hidden">
          <div class="schedule__item">
            Паломнический тур в Дивеево из Москвы на автобусе
          </div>
          <div class="schedule__item">с 21 по 23 октября</div>
          <div class="schedule__item">20</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row hidden">
          <div class="schedule__item">Чудеса исцеления</div>
          <div class="schedule__item">с 11 по 13 ноября</div>
          <div class="schedule__item">2</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row hidden">
          <div class="schedule__item">Дивеево 4 удел Богородицы</div>
          <div class="schedule__item">с 28 по 30 октября</div>
          <div class="schedule__item">10</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row hidden">
          <div class="schedule__item">Тур в Дивеево на 2 дня</div>
          <div class="schedule__item">с 21 по 23 октября</div>
          <div class="schedule__item">8</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
        <div class="schedule__row hidden">
          <div class="schedule__item">
            Поездка в Дивеево на Новый год, Рождество
          </div>
          <div class="schedule__item">с 11 по 13 ноября</div>
          <div class="schedule__item">1</div>
          <div class="schedule__item">от 3 700 руб.</div>
        </div>
      </div>
    </div>

    <div class="schedule__bottom">
      <button class="schedule__btn btn" type="button">
        Посмотреть весь список
      </button>
    </div>
  </div>
</section>
